
h2 {
    color: #2196F3;
    font-size: 22px;
    margin: 10px 0px 10px 0px;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}
.panel-body {
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}
